[submodule "nvim/.config"]
	path = nvim/.config
	url = git@github.com:ActualAdam/config-neovim.git
[submodule "tmux/.config/tmux/plugins/tpm"]
	path = tmux/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
